aiohappyeyeballs
aiohttp
aiosignal
attrs
beautifulsoup4
bs4
cachetools
certifi
charset-normalizer
discord
discord.py
espn-api
frozenlist
google-api-core
google-api-python-client
googleapis-common-protos
google-auth
google-auth-httplib2
google-auth-oauthlib
html5lib
httplib2
idna
lxml
multidict
numpy
oauthlib
pandas
protobuf
proto-plus
pyasn1
pyasn1_modules
pyparsing
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rsa
six
soupsieve
tabulate
tzdata
uritemplate
urllib3
webencodings
yarl
